:root {
  --background-color: white;
  --banner-color: #487890;
  --content-color: #DDE8ED;
  --text-color: #718BA5;
  --accent-color: #004172;
  --border-color: #8EA9C1;
  --header-color: #18344a;
  --text-white-color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #D6E4EA;
}

::-webkit-scrollbar-thumb {
    background-color: #004172;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ff6400;
}




body, html {
    background-color: var(--background-color);
    font-family: PT Serif;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;

    'min-height: 100vh;

}

.graph{
width:47vw;
}

.sliderRow{
    min-width: 300px;
    textAlign: center;
}

.sliderinput{
    min-width: 300px;
    textAlign: center;

}

.slider .rc-slider-tooltip-inner {
    background-color: var(--color-accent);
    color: black;
}




.buttonDefinitions{
    background-color: var(--content-color);
    color: var(--text-color);
    width:5.3rem;
    height:2rem;
    border-radius: 10px;
    border 1px solid var(--border-color);
}

.buttonDefinitions:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.buttonDefinitions:hover {
  background-color: var(--border-color);
  cursor: pointer;
   border 1px solid white;
}


.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}
.parent-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:100vw;
}


.parent-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--content-color);
  color: var(--text-color);
  border-radius: 10px;
  'border: 1px solid var(--accent-color);
  margin-top: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding:20px;
}

.card-item > * {
  /* Center align children elements */
  margin: 0 auto;

  /* Add line breaks to children elements */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Add overflow-wrap property to break lines */
  overflow-wrap: break-word;
}

.card-itemnew {
  'display: flex;
  'flex-direction: column;
  'align-items: center;
  'justify-content: center;
  background-color: var(--content-color);
  color: var(--text-color);
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  margin-top: 5px;
}



/* Define CSS to target the Dropdown component */
.custom-dropdown .Select-control {
    /* Set border color and style */
    border: 2px solid red; /* Replace with your desired border color */
    border-radius: 75vw;
}

/* Define CSS for the active state of the Dropdown */
.custom-dropdown .Select-control:hover,
.custom-dropdown .Select-control.is-focused,
.custom-dropdown .Select-control.is-open {
    /* Set border color for active state */
    border-color: blue; /* Replace with your desired border color */
}

.tabs-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #004172;
  color: var(--header-color);
  'border-radius: 10px;
  'border: 1px solid var(--accent-color);
   /* Set font family */
  font-family: PT Serif;

  /* Set font style */
  font-style: lighter;

  /* Set font weight */
  font-weight: lighter;
  font-size: 1.4rem;
  text-align: center;
  width:80%;
  align-items:center;
  margin-bottom:20px;
  color: rgba(61, 181, 105);
}

.headers {
  color: var(--header-color);
  font-family: PT Serif;
  font-style: lighter;
  font-weight: lighter;
}


.tabheaders {
  color: var(--header-color);
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size:1.5rem;
}

.banner-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap:15px;
}

.headerstab {
  display: block;
  padding: 0.5rem 1rem;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  align-items:center;
}
.normal-text {
   color: var(--text-color);
   font-family: Abel;
   font-style: lighter;
   font-weight: lighter;
}

.headerfinvest {
    font-weight: lighter;
    font-size: 24px;
    font-size:3.5rem;
}

.headerbanner{
    background-color: #18344a;
}

.fadeinelement{
    opacity: 0;
    animation: fade-in 3s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.85;
  }
}

.cardcontact{
    font-size: 24px;
}

.first-word {
    color: var(--header-color);
}

.second-word {
    /* Set color for second word */
    color: #3DB569; /* Replace with your desired color */
}

.DataTable {
  border-radius: 10px; /* Set border radius value to round the corners */
}

.homecard{
    max-width:60vw;
    margin: 0 auto;
    background-color: white;
    padding-bottom:40px;
    opacity:0.8;
    border-radius:15px
}

.finvesteconomy{
    margin: 0 auto;
    background-color: white;
    padding-bottom:40px;
}

.notetext{
    display: none;
}

.resultsFinvest{
    display:block;
    max-width:80vw;}

.informationtext{
font-weight:bold;
textAlign:center;
display:None;}

.footer {
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, black 100%, var(--accent-color) 0%);
}

.footer-left {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: right;
  textAlign: right;
  width:100%;
  padding-right: 60px;
}

.footer-right {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: center;
  width:50%;
  height: 100%;
  padding-right: 60px;
}

.rc-slider-handle{

    color: var(--accent-color);
}

/* Container for page intros */
.page-intros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
}

/* Individual page intro */
.page-intro {
  width: 45%;
  margin-bottom: 20px;
  max-width:250px;
}

/* Header for page title */
.page-intro h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Paragraph for page intro text */
.page-intro p {
  font-size: 1rem;
  line-height: 1.2;
}

@media (max-width: 900px) {
    .banner-row {
    flex-direction:column;
    }
    .rc-slider-handle {
    width:40px;
    height:40px;
    top:-5px;
    }
    .slider{margin-top:20px;}
    finvesteconomy {
        font-size: 18px;
        max-width:100vw;
    }
    .resultsFinvest{
    display:none;}

    .informationtext{
    display:block;}

    .headerfinvest {
    font-size:4rem;


    }
    .parent-row{
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100vw;
    }
    .headerstab,
    .body,
    .normal-text,
    .tabs-line {font-size:22px;
    max-width:100vw;}

    .parent-container2{

    width:100vw;}

    .tabheaders{font-size:2rem}


    .graph{
    width:95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




    .plotly-title {
    font-size: 24px;
  }
  .notetext{
    color: white;
    display: block;
    background-color:black;
    textAlign:center;
    }
  .homecard{
  max-width:90vw;
  }
  .headerbanner{
    height: 370px;
}

    .svg-container
    .user-select-none{
    width:400px;}

   }

/* Define styles for screens with a minimum width of 577 pixels and a maximum width of 768 pixels */
@media (min-width: 901px) and (max-width: 1000px) {
    finvesteconomy {
        zoom: 0.4;
        font-size: 30px;
        max-width:100vw;
    }
    .headerfinvest {
    font-size:5rem;
    }
    .headerstab,
    .body,
    .normal-text,
    .tabs-line {
    font-size:20px;

    }
    .tabheaders{font-size:3.5rem}

    .plotly-title {
    font-size: 24px;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
    finvesteconomy {
        zoom: 0.4;
        font-size: 30px;
        max-width:100vw;
    }
    .headerfinvest {
    font-size:3rem;
    }
    .headerstab,
    .body,
    .normal-text,
    .tabs-line {
  font-size:19px;
    }
    .tabheaders{font-size:2rem}

    .plotly-title {
    font-size: 24px;
  }
}

/* Define styles for screens with a minimum width of 769 pixels */
@media (min-width: 1401px) {
    body {
        font-size: 20px;
    }
    .headerstab,
    .body,
    .normal-text,
    .tabs-line{
  font-size:18px;
    }
    .tabheaders{font-size:2rem}

    .plotly-title {
    font-size: 40px;
  }
}